<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Insecure Login</title>
</head>
<body>
  <h2>Insecure Login</h2>

  {% if error %}
    <p style="color:red;">{{ error }}</p>
  {% endif %}

  <form method="post">
    {% csrf_token %}
    <label>Username:</label>
    <input name="username" type="text" /><br><br>

    <label>Password:</label>
    <input name="password" type="text" /><br><br>

    <button type="submit">Login</button>
  </form>

  <p><a href="/">Home</a></p>
</body>
</html>